/*
 * Copyright (c) 2019, Linaro Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	lis2dw12_accel: lis2dw12-accel@19 {
        compatible = "irnas,lis2dw12";
        label = "LIS2DW12-ACCEL";
        reg = <0x19>;
        irq-gpios=<&gpio1 3 GPIO_ACTIVE_LOW>;
        int-pin = <1>;
        range = <2>;
        power-mode = <0>;
        wu-threshold = <0x9>;
    };
};
