/ {
    vbatt {
		compatible = "irnas,voltage-divider";
		io-channels = <&adc 2>;
		lower-resistor-ohms = <10000>;
		upper-resistor-ohms = <(10000)>;
		power-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        power-startup-delay-ms=<200>;
        status = "okay";
	};

    pins: pins {
        compatible = "gpio-keys";
    };

    nrf52_rx  {
        compatible = "irnas,peripheral-power";
        power-gpios = <&gpio1 8 (GPIO_PULL_DOWN |GPIO_ACTIVE_HIGH)>;
        status = "okay";
        initial-state = <0>;
        configure-input;
    };

    nrf52_tx  {
        compatible = "irnas,peripheral-power";
        power-gpios = <&gpio0 14 (GPIO_PULL_DOWN |GPIO_ACTIVE_HIGH)>;
        status = "okay";
        initial-state = <0>;
        configure-input;
    };
};

&i2c0 {
    // microphone:
    vm3011: vm3011@60 {
        compatible = "vesper,vm3011";
        reg = <0x60>;

        data-pin = <46>;
        clk-pin = <45>;
        dout-gpios = <&gpio1 9 (GPIO_ACTIVE_HIGH)>;
    };
};
